name: Release

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  workflow_call:
    inputs:
      service_name:
        required: true
        type: string
    secrets:
      DOCKERHUB_USERNAME:
        required: true
      DOCKERHUB_TOKEN:
        required: true
      RELEASE_TOKEN:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      with:
        ref: ${{ github.head_ref }}   # checkout the correct branch name
        fetch-depth: 0                # fetch the whole repo history
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '7.x.x'
    - name: Dotnet build 
      run: dotnet build .

  unit:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      with:
        ref: ${{ github.head_ref }}   # checkout the correct branch name
        fetch-depth: 0                # fetch the whole repo history
    - name: Unit test
      run: docker compose -f compose-test.yaml up idealtex.${{ inputs.service_name }}.unittest

  integration:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      with:
        ref: ${{ github.head_ref }}   # checkout the correct branch name
        fetch-depth: 0                # fetch the whole repo history
    - name: Integration test
      run: docker compose -f compose-test.yaml up idealtex.${{ inputs.service_name }}.integrationtest

  tag:
    needs: [unit, integration]
    runs-on: ubuntu-latest
    outputs:
      new_tag: ${{ steps.version.outputs.version }}
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      with:
        ref: ${{ github.head_ref }}   # checkout the correct branch name
        fetch-depth: 0                # fetch the whole repo history
    - name: Git Version
      id: version
      uses: codacy/git-version@2.7.1
      with:
        # The name of the release branch
        release-branch: main
    - name: Create tag
      uses: actions/github-script@v6.4.0
      with:
        script: |
          github.rest.git.createRef({
            owner: context.repo.owner,
            repo: context.repo.repo,
            ref: 'refs/tags/${{ steps.version.outputs.version }}',
            sha: context.sha
          })
      
  publish:
    needs: tag
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: dkalchenko/idealtex-${{ inputs.service_name }}:${{needs.tag.outputs.new_tag}}
        
  release:
    needs: publish
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3
      with:
        ref: ${{ github.head_ref }}   # checkout the correct branch name
        fetch-depth: 0                # fetch the whole repo history
    - name: update release
      uses: dkalchenko/idealtex-workflows@1.0.4
      with:
        NEW_VERSION: ${{ steps.version.outputs.version }}
        SERVICE_NAME: ${{ inputs.service_name }}
        RELEASE_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        
      
